pbr == 5.4.5  # Needed for pbr.version
setuptools == 49.2.0  # Needed to workaround https://github.com/pyinstaller/pyinstaller/issues/4984
bunq-sdk == 1.13.1
click == 7.1.2
pyyaml == 5.3.1
validators == 0.16.0
